---
import { SOCIAL_MEDIA_DATA } from "@/components/SocialMediaData";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<!-- keyboard source: https://codepen.io/HaydnComley/pen/yLdpLbJ -->
<div class:list={["flex items-start text-center max-xs:flex-col", className]}>
  <div class="board">
    {
      SOCIAL_MEDIA_DATA.map(({ name, href, icon: Icon }) => (
        <div class="key-position">
          <a
            aria-label={name}
            class="key"
            data-key={name}
            target="_blank"
            {...{ href }}
          >
            <Icon />
          </a>
        </div>
      ))
    }
  </div>
  <div class="key-position flex items-center justify-center">
    <a
      id="cta-hero-btn"
      href="#bento"
      data-block="center"
      class="key call-to-action peer"
    >
      <p class="call-to-action-content">Explore more</p>
    </a>
  </div>
</div>

<style>
  svg {
    width: 2.25rem;
    height: 2.25rem;
  }

  @media (max-width: 640px) {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(5rem * 0.02);
  }

  .key.call-to-action {
    width: 160px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
  }

  .call-to-action-content::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    top: 50%;
    margin: 10px 15%;
    background: var(--t-key-text);
    height: 1.5px;
    transition: 0.3s ease-out;
  }

  .key.call-to-action:hover .call-to-action-content::after {
    width: 70%;
    background: var(--t-accent);
  }

  .key.call-to-action:hover .call-to-action-content {
    color: var(--t-accent);
  }

  .key-position {
    transform: rotateZ(0turn) rotateY(0.05turn) rotateX(-0.1turn);
  }

  .key {
    position: relative;
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    border: 0.1rem solid var(--t-key-shadow);
    border-radius: 1rem;
    background: var(--t-key-bg);
    color: var(--t-key-text);
    box-shadow:
      0.15rem 0.15rem 0 0 var(--t-key-shadow),
      0.3rem 0.3rem 0 0 var(--t-key-shadow),
      0.45rem 0.45rem 0 0 var(--t-key-shadow),
      0.6rem 0.6rem 0 0 var(--t-key-shadow);
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 640px) {
    .key {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      border-radius: 0.6rem;
    }
  }

  .key:hover {
    cursor: pointer;
    transform: translateX(0.3rem) translateY(0.3rem);
    box-shadow:
      0.15rem 0.15rem 0 0 var(--t-key-shadow),
      0.3rem 0.3rem 0 0 var(--t-key-shadow),
      0.45rem 0.45rem 0 0 var(--t-key-shadow),
      0.5rem 0.5rem 0 0 var(--t-key-shadow);
    color: var(--t-accent);
  }

  .key:active,
  .key.isDown {
    cursor: grabbing;
    transform: translateX(0.8rem) translateY(0.8rem);
    box-shadow:
      0.1rem 0.1rem 0 0 var(--t-key-shadow),
      0.1rem 0.1rem 0 0 var(--t-key-shadow),
      0.2rem 0.2rem 0 0 var(--t-key-shadow),
      0.2rem 0.2rem 0 0 var(--t-key-shadow);
    filter: blur(0.02rem);
  }

  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  [data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;
    z-index: 2;
  }

  [data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid hsl(0, 0%, 20%);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
</style>
