---
---

<div class="h-full flex flex-col px-1">
    <h2 class="text-lg font-bold text-white transition-colors">Gecko Climbing</h2>
    <p class="text-sm text-slate-400">
      Log your climbing sessions, <br />
      track V-grades, and share with friends.
    </p>
    <div class="flex-1 flex items-start mt-5">
      <a href="https://github.com/amirabaskanov/gecko-climbing" target="_blank" rel="noopener noreferrer" class="w-full group">
        <div class="bg-gray-700/80 backdrop-blur-sm rounded-xl p-4 w-full flex items-center group-hover:bg-gray-600/80 transition-colors">
        <img src="/projects/gecko-icon.png" alt="Gecko Climbing logo" class="w-10 h-10 rounded-lg mr-4" />
        <div>
          <div class="text-base text-white font-medium">Gecko Climbing</div>
          <div class="text-sm text-white">View on GitHub</div>
        </div>
      </div>
    </div>
  </div>
</div>
