---
---

<div class="h-full flex flex-col px-1">
    <h2 class="text-lg font-bold text-[var(--t-text-primary)] transition-colors">Gecko Climbing</h2>
    <p class="text-sm text-[var(--t-text-body)]">
      Log your climbing sessions, <br />
      track V-grades, and share with friends.
    </p>
    <div class="flex-1 flex items-start mt-5">
      <a href="https://github.com/amirabaskanov/gecko-climbing" target="_blank" rel="noopener noreferrer" class="w-full group">
        <div class="bg-[var(--t-featured-card)] backdrop-blur-sm rounded-xl p-4 w-full flex items-center group-hover:bg-[var(--t-featured-card-hover)] transition-colors">
        <img src="/projects/gecko-icon.png" alt="Gecko Climbing logo" class="w-10 h-10 rounded-lg mr-4" />
        <div>
          <div class="text-base text-[var(--t-text-primary)] font-medium">Gecko Climbing</div>
          <div class="text-sm text-[var(--t-text-heading)]">View on GitHub</div>
        </div>
      </div>
    </div>
  </div>
</div>
